<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CSWisual.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14B5A6432C2B3B6500B3EA26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14B5A6572C2B3B6600B3EA26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14B5A6612C2B3B6600B3EA26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
